# QDRANT_API_KEY=
# NEON_DATABASE_URL=
# COHERE_API_KEY=
# OPENROUTER_API_KEY=


QDRANT_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.cV1YGNgqndMFyb2xOH9tVJXKGto62TDQsbjH81ySAk4"

QDRANT_URL = "https://20277128-a4ac-4874-aa12-159ec1d060e2.eu-west-2-0.aws.cloud.qdrant.io:6333"

COHERE_API_KEY = "xCT9KTFAPYtqPAjoSA7fFZNJMcOn1NpAv3XCY2tN"

DATABASE_URL = "postgresql://neondb_owner:npg_3mqTABCGW9iP@ep-sweet-union-ah42zr2x-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

OPEN_ROUTER = "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"

OPEN_ROUTER_BASE_URL = "https://openrouter.ai/api/v1/chat/completions",
