google-generativeai
fastapi
uvicorn
python-dotenv
requests
cohere
qdrant-client
openai
psycopg2-binary
unstructured
pypdf
sqlalchemy
pydantic
python-multipart
pytest
requests-mock
nltk
loguru==0.7.3
fastembed==0.7.4
tenacity
beautifulsoup4