/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, var(--ifm-color-primary), var(--ifm-color-secondary));
}



.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__image {
  max-width: 100%;
  height: 60%;
  margin-top: 140px;
}

.hero__text_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


